[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"

[dev-packages]
py-ttw-day-2 = { file = ".", editable = true }
autohooks = "*"
autohooks-plugin-black = "*"
autohooks-plugin-pylint = "*"
autohooks-plugin-pytest = "*"
autohooks-plugin-ruff = "*"
black = "*"
httpx = "*"
ipython = "*"
pylint = "*"
pytest = "*"
ruff = "*"
tox = "*"
typer = {extras = ["all"], version = "*"}

[requires]
python_version = "3.12"

[scripts]
dev = "uvicorn api.main:app --reload"
