[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
uvicorn = { extras = ["standard"], version = "*" }

[dev-packages]
py-ttw-day-2 = { file = ".", editable = true }
autohooks = "*"
autohooks-plugin-black = "*"
autohooks-plugin-pytest = "*"
autohooks-plugin-ruff = "*"
black = "*"
httpx = "*"
ipython = "*"
orjson = "*"
pipenv = "*"
pytest = "*"
ruff = "*"
tox = "*"
typer = { extras = ["all"], version = "*" }

[requires]
python_version = "3.12"

[scripts]
app-cli = "python -m cli.main"
dev-server = "uvicorn api.main:app --reload"
server = "uvicorn api.main:app"
