[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
orjson = "*"
pydantic = "*"
uvicorn = { extras = ["standard"], version = "*" }

[dev-packages]
py-ttw-day-2 = { file = ".", editable = true }
autohooks = "*"
autohooks-plugin-black = "*"
autohooks-plugin-pytest = "*"
autohooks-plugin-ruff = "*"
black = "*"
httpx = "*"
ipython = "*"
pipenv = "*"
pytest = "*"
pytest-httpx = "*"
ruff = "*"
typer = { extras = ["all"], version = "*" }

[requires]
python_version = "3.12"

[scripts]
app-cli = "python -m cli.main"
dev-server = "uvicorn api.main:app --reload"
docker-start = "docker compose -f ./docker/docker-compose.yml up --build --detach"
docker-stop = "docker compose -f ./docker/docker-compose.yml down"
server = "uvicorn api.main:app"
